* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

img {
    max-width: 100%;
}

.container {
    min-height: 50px;
    border: 1px dashed black;
}



// FLAGS

.en {
    background-image: url(../assets/Flag_of_United_Kingdom.svg);
    color: rgba($color: #000000, $alpha: 0);
}

.fr {
    background-image: url(../assets/Flag_of_France.svg);
    color: rgba($color: #000000, $alpha: 0);
}

.it {
    background-image: url(../assets/Flag_of_Italy.svg);
    color: rgba($color: #000000, $alpha: 0);
}

.es {
    background-image: url(../assets/Flag_of_Spain.svg);
    color: rgba($color: #000000, $alpha: 0);
}

.ko {
    background-image: url(../assets/Flag_of_South_Korea.svg);
    color: rgba($color: #000000, $alpha: 0);
}

.ja {
    background-image: url(../assets/Flag_of_Japan.svg);
    color: rgba($color: #000000, $alpha: 0);
}